# Worker Configuration.

server-id = {{ server-id }}
flavor = "{{ flavor }}"
meta-file = "relay.meta"
enable-gtid = {{ enable-gtid }}

[from]
host = "{{ host }}"
user = "{{ user }}"
password = "{{ password }}"
port = "{{ port }}"
