# Worker Configuration.

server-id = {{ server_id }}
flavor = "{{ flavor }}"
meta-file = "relay.meta"
enable-gtid = {{ enable_gtid }}

[from]
host = "{{ host }}"
user = "{{ user }}"
password = "{{ password }}"
port = "{{ port }}"
